:root {
	--res-blue: var(--pico-color-azure-50);
	--res-blue-hover: var(--pico-color-azure-100);
	--res-green: var(--pico-color-jade-50);
	--res-green-hover: var(--pico-color-jade-100);
	--res-yellow: var(--pico-color-amber-50);
	--res-yellow-hover: var(--pico-color-amber-100);

	--eplayer-background-color: transparent;
	--eplayer-controls-gap: var(--pico-spacing);
	--eplayer-primary-color: var(--pico-primary);
	--eplayer-primary-color-hover: var(--pico-primary-hover);
	--eplayer-font-color: var(--pico-contrast);
	--eplayer-font-size: 0.8em;
	--eplayer-button-height: 1.6em;
	--eplayer-play-button-height: calc(2.6em + var(--eplayer-button-padding) * 2);
	--eplayer-progress-background-color: var(--pico-secondary);
	/* --eplayer-progress-button-border-color: var(--pico-secondary); */
	--eplayer-progress-button-height: 1.0em;
	--eplayer-progress-color: var(--pico-primary);
	--eplayer-progress-height: calc(var(1em / 3));
	--eplayer-progress-radius: 1em;

	--eplayer-footer-height: calc(
		var(--eplayer-play-button-height) +
		var(--pico-spacing) * 2 +
		var(--eplayer-padding) * 2);
}

:root[data-theme="dark"] {
	--res-blue: var(--pico-color-azure-950);
	--res-blue-hover: var(--pico-color-azure-900);
	--res-green: var(--pico-color-jade-950);
	--res-green-hover: var(--pico-color-jade-900);
	--res-yellow: var(--pico-color-amber-950);
	--res-yellow-hover: var(--pico-color-amber-900);
}

body {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	min-height: 100vh;
}

body > header {
	border-bottom: var(--pico-border-width) solid transparent;
	z-index: 2;
	padding: 0.5rem 0;
	position: sticky;
	top: -1px;
	backdrop-filter: blur(1rem);
	background-color: var(--pico-header-background);
	transition: border-top-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

body > header.stuck {
	border-bottom-color: var(--pico-muted-border-color);
	box-shadow: var(--pico-card-box-shadow);
}

header h1 {
	margin: 0;
}

main.eplayer-padding {
	padding-bottom: calc(var(--eplayer-footer-height) + var(--pico-spacing));
}

footer {
	margin-top: auto;
}

aside nav.borders details ul {
	margin-left: 0;
}

aside nav.borders details ul li {
	border-left: var(--pico-border-width) solid var(--pico-muted-border-color);
	padding-left: calc(var(--pico-nav-element-spacing-horizontal) * 2);
	padding-top: 0;
	padding-bottom: 0;
}

aside nav.borders details ul li:hover {
	border-left-color: var(--pico-secondary-hover);
}

aside nav.borders details ul li.active {
	border-left-color: var(--pico-primary);
	font-weight: bold;
}

aside nav.borders details ul li.active a {
	color: var(--pico-primary);
}

aside.menu nav {
	--header-height: calc(4.5rem + var(--pico-border-width) + var(--pico-spacing));
	position: sticky;
	top: var(--header-height);
	max-height: calc(100vh - var(--header-height));
	overflow-y: auto;
	overflow-x: hidden;
	transition: top var(--pico-transition);
	transition-delay: 50ms;
}

details summary::after {
	display: none;
}

nav details.dropdown summary:not([role]) {
    height: calc(1rem * var(--pico-line-height) + var(--pico-nav-link-spacing-vertical) * 2 - 2 * var(--pico-border-width));
}

details.dropdown ul.up {
	top: auto;
	bottom: 100%;
}

.sort-menu {
	gap: var(--pico-spacing);
	position: fixed;
	right: calc(var(--pico-spacing) * 2);
	bottom: calc(var(--pico-spacing) * 2);
}

section {
	margin-top: calc(var(--pico-block-spacing-vertical) * 3);
}

a.hide {
	display: none;
}

tr {
	cursor: pointer;
}

/* tr.pre td { background-color: var(--pico-table-row-stripped-background-color); } */
tr.lit td { background-color: var(--res-yellow); }
tr.cat td { background-color: var(--res-blue); }
tr.ele td { background-color: var(--res-green); }

.psalm.lit { background-color: var(--res-yellow); }
.psalm.cat { background-color: var(--res-blue); }
.psalm.ele { background-color: var(--res-green); }

tr.pre:hover td { background-color: var(--pico-table-row-stripped-background-color); }
tr.lit:hover td { background-color: var(--res-yellow-hover); }
tr.cat:hover td { background-color: var(--res-blue-hover); }
tr.ele:hover td { background-color: var(--res-green-hover); }

tr.hide {
	display: none;
}

p.hide {
	display: none;
}

a {
	cursor: pointer;
}

.content {
	position: relative;
}

.psalm-item a {
	text-decoration: none;
}

svg.hide {
	display: none;
}

.center {
	text-align: center;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.flex.center {
	align-items: center;
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}

.no-decoration {
	text-decoration: none;
}

.theme-toggle {
	display: none;
}

.theme-toggle.show {
	display: inline;
}

.card {
	max-width: 520px;
}

.screen-lg-hide {
	display: none;
}

.grid-aside .content {
	grid-column: 2 / 5;
}

.psalm-list hgroup {
	margin-top: calc(var(--pico-typography-spacing-vertical) * 0.5);
	margin-bottom: calc(var(--pico-typography-spacing-vertical) * 0.5);
}

.requiredHint {
	display: none;
}

.hide-lg {
	display: none;
}

.line {
	line-height: 2em;
	position: relative;
}

.chord {
	color: var(--pico-primary);
	font-weight: normal;
	margin-top: calc(-1 * 1em);
	position: absolute;
}

.primary {
	color: var(--pico-primary);
}

label span.asterisk {
	color: var(--pico-primary);
}

.eplayer-wrapper {
	background-color: var(--pico-card-background-color);
	box-shadow: var(--pico-card-box-shadow);
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
}

.eplayer-wrapper .dropdown {
	margin: 0;
	text-align: left;
}

.eplayer-wrapper details.dropdown > summary + ul li a.active {
	color: var(--pico-primary) !important;
}

.eplayer input {
	margin: 0;
}

.eplayer button {
	border: none;
}

.eplayer-play-btn {
	height: var(--eplayer-play-button-height);
	width: var(--eplayer-play-button-height);
}

.eplayer-wrapper p {
	padding-top: calc(var(--eplayer-footer-height) / 2 - 1em);
	padding-bottom: calc(var(--eplayer-footer-height) / 2 - 1em);
	margin: 0;
}

@media only screen and (max-width: 1024px) {
	details summary::after {
		display: block;
	}

	.grid-aside {
		grid-template-columns: 1fr;
	}

	.grid-aside .content {
		grid-column: unset;
	}

	.hide-lg {
		display: unset;
	}

	.hide-sm {
		display: none;
	}

	aside.menu {
		background-color: var(--pico-background-color);
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 1;
		top: 0;
		right: 0;
		overflow-x: hidden;
		transition: right var(--pico-transition);
		transition-delay: 50ms;
	}

	aside.menu.hide {
		right: 100%;
	}

	aside.menu nav {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 768px) {
	:root {
		/* --eplayer-button-height: 2em; */
		--eplayer-direction: column-reverse;
		--eplayer-footer-height: calc(
			var(--eplayer-progress-button-height) +
			var(--eplayer-play-button-height) +
			var(--pico-spacing) * 2 +
			var(--eplayer-controls-gap) +
			var(--eplayer-padding) * 2);
	}
	aside.menu nav {
		max-width: 510px;
	}
	.eplayer-wrapper .dropdown {
		position: fixed;
		right: var(--pico-spacing);
		bottom: calc(var(--pico-spacing) + var(--eplayer-footer-height));
	}
}

@media only screen and (max-width: 576px) {
	aside.menu nav {
		max-width: unset;
		padding-left: var(--pico-spacing);
		padding-right: var(--pico-spacing);
	}
}
