{% extends 'base.jinja' %}
{% block title %}Custom List{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='scripts/account.js', v=settings.version) }}" defer></script>
{% endblock %}
{% block content %}
<div class="container">
	<article class="logged-in">
		<header>
			<h3>Hello <span class="account-email clear-logout"></span></h3>
		</header>
		<p id="account-error" class="error message hide">There was an error.</p>
		<div id="account-settings" class="hide">
			<section>
				<ul>
					<li><a href="{{ url_for('account_lists') }}">Custom Lists</a></li>
					<li><a href="{{ url_for('account_community') }}">My Community</a></li>
				</ul>
			</section>
			<hr>
			<section>
				<button data-target="auth-modal"
					onclick="changeAuthModal('resetLogged'); toggleModal(event);"
				>Reset Password</button>
			</section>
		</div>
	</article>
	<div class="logged-out">
		<p class="text-center">
			<a class="pointer underline"
				data-target="auth-modal"
				onclick="changeAuthModal('login'); toggleModal(event);"
			>Login</a>
			or
			<a class="pointer underline"
				data-target="auth-modal"
				onclick="changeAuthModal('register'); toggleModal(event);"
			>Register</a>
			to view your account.
		</p>
	</div>
</div>
{% endblock %}
