<li>
	<a role="button"
		class="secondary pointer transparent-btn"
		onclick="toggleModal(event)"
		data-target="contact-modal">
		Contact
	</a>
</li>
<li class="login-button">
	<a role="button"
		class="secondary pointer transparent-btn"
		onclick="changeAuthModal('login'); toggleModal(event);"
		data-target="auth-modal">
		Login
	</a>
</li>
<li class="logout-button hide">
	<details class="dropdown mb-0">
		<summary class="transparent-btn">Account</summary>
		<ul dir="rtl">
			<li><a class="pointer" href="{{ url_for('account') }}">
				Settings
			</a></li>
			<li><a class="pointer"
				data-target="logout-modal"
				onclick="toggleModal(event); logout();">
				Logout
			</a></li>
		</ul>
	</details>
</li>
<li>
	<a role="button"
		class="flex align-center secondary theme-btn pointer transparent-btn gap-xxs"
		onclick="switchTheme(event)">
		<svg class="icon theme-toggle theme-dark"
			width="1em" height="1em">
			<use xlink:href="#icon-moon"/>
		</svg>
		<svg class="icon theme-toggle theme-light"
			width="1em" height="1em">
			<use xlink:href="#icon-sun"/>
		</svg>
	</a>
</li>
