<li>
	<a role="button" class="secondary pointer transparent-btn" onclick="toggleModal(event)"
		data-target="contact-modal">
		Contact
	</a>
</li>
<li>
	<a role="button" class="secondary pointer transparent-btn" target="_blank"
		href="https://github.com/aleyoscar/resurrexit">
		Source
	</a>
</li>
<li>
	<a role="button" class="flex align-center secondary theme-btn pointer transparent-btn gap-xxs"
		onclick="switchTheme(event)">
		Theme
		<svg class="icon theme-toggle theme-dark"
			width="1em" height="1em">
			<use xlink:href="#icon-moon"/>
		</svg>
		<svg class="icon theme-toggle theme-light"
			width="1em" height="1em">
			<use xlink:href="#icon-sun"/>
		</svg>
	</a>
</li>
