{% extends 'base.jinja' %}
{% block title %}{{ psalm.title }}{% endblock %}
{% block header_title %}{{ settings.languages[lang].songbook }}{% endblock %}
{% block header_url %}{{ url_for('psalm_list', lang=lang) }}{% endblock %}

{% block content %}
<div class="container">
	<article class="psalm {{ psalm.step }}">
		<hgroup class="flex space-between align-center gap-xxs mb-0">
			<p class="ghost"></p>
			<h5 class="text-center">{{ psalm.title }}</h5>
			<details class="dropdown mb-0">
				<summary class="transparent-btn no-caret"><svg width="1em" height="1em">
					<use xlink:href="#icon-lang"/>
				</svg></summary>
				<ul dir="rtl">
					{% for alt in alts %}
					<li>
						<a href="{{ url_for('psalm', lang=alt.lang, slug=alt.slug) }}">
							{{ alt.title }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</details>
		</hgroup>
		<p class="text-center secondary mb-lg">{{ psalm.subtitle }}</p>
		<div class="grid">{{ psalm.lyrics|safe }}</div>
	</article>
</div>
{% endblock %}

{% block eplayer %}
<div id="eplayer-wrapper" class="eplayer-wrapper flex space-between align-center">
	{% if psalm.audio | length %}
	{% set ns = namespace(sorted_audio=[]) %}
	{% for audio in psalm.audio | sort(attribute='order') %}
		{% set ns.sorted_audio = ns.sorted_audio + [audio] %}
	{% endfor %}
	<div class="ghost hide-sm"><svg width="1em" height="1em"><use xlink:href=""/></svg></div>
	<div id="eplayer" class="eplayer flex-1"
		data-src="{{ ns.sorted_audio[0].src }}"
		data-type="audio/mp3">
	</div>
	<details class="dropdown mb-0 align-self-end-sm">
		<summary class="transparent-btn no-caret"><svg width="1em" height="1em">
			<use xlink:href="#icon-menu-dot"/>
		</svg></summary>
		<ul dir="rtl" class="up">
			<li><strong>Sources</strong></li>
			{% for audio in ns.sorted_audio %}
			<li>
				<a class="pointer" onclick="switchSource(event)"
					data-source="{{ audio.src }}">
					{{ audio.name }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</details>
	{% else %}
	<p class='text-center width-100 secondary'>No Audio</p>
	{% endif %}
</div>
{% endblock %}
